.markdown-artical { color: #555; font-size: 1.6rem; }
.markdown-artical h1, .markdown-artical h2, .markdown-artical h3, .markdown-artical h4, .markdown-artical h5, .markdown-artical h6 
	{ /*font-size: 1.6rem;*/ line-height: 1.1rem; margin: 1rem 0; }
.markdown-artical h1 { padding: 1rem 0; }
.markdown-artical p { line-height: 1.6rem; margin: 1.6rem 0; }
.markdown-artical span { line-height: 1.6rem; margin: 1.6rem 0; }
.markdown-artical ul { padding: 0 0 0 3rem; }
.markdown-artical ul li { line-height: 2rem; padding: 0 0 0 1rem; list-style-type: disc; }
.markdown-artical ul li ul { padding: 0 0 0 2rem; }
.markdown-artical ul li ul li { list-style-type: circle; }
.markdown-artical a { color: red; text-decoration: underline; }
.markdown-artical img { display: block; width: 100%; }
.markdown-artical code { display: block; line-height: 1.6rem; margin: 1rem 0; padding: 1rem 0 1rem 1.5rem; font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace; color: #ccc; background: #2d2d2d; }