<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/common/codemirror/lib/codemirror.css">
		<script type="text/javascript" src="/common/js/jquery.min.js"></script>
		<script type="text/javascript" src="/common/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="/common/codemirror/mode/markdown/markdown.js"></script>
		<script type="text/javascript" src="/common/codemirror/keymap/sublime.js"></script>
		<style type="text/css">
			* { margin: 0; padding: 0; border: 0; }
			html, body { height: 100%; }
			a { text-align: center; text-decoration: none; }
			.btn-hover:hover { opacity: 0.9; text-decoration: none; filter: alpha(opacity=80); }
			.cls:after { content: ""; clear: both; display: table; visibility: hidden; }
			.cls { zoom: 1;	}
			.fl { float: left; }
			.f11 {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100% !important;
				height: 100% !important;
			}
			.f11 > .CodeMirror {
				height: 100%;
			}
			#codeArea {
				height: 100%;
			}
			.CodeMirror {
				height: auto;
			}
			/*#utils, #utils * { background: #eee; }*/
			#utils {
				padding: 3px 0 0 28px;
			}
			.filename-select { 
				display: inline-block;
				width: 220px;
				height: 30px;
				line-height: 30px;
				border: 1px solid #CDCDCD;
				border-radius: 2px 0 0 2px;
				padding: 0 0 0 5px;
			}
			.add-file-inp { display: inline-block;
				width: 220px;
				height: 28px;
				line-height: 28px;
				border: 1px solid #CDCDCD;
				border-radius: 2px 0 0 2px;
				padding: 0 0 0 5px;
			}
			.btn {
				display: inline-block;
				width: 72px;
				height: 30px;
				line-height: 30px;
				background: #393939;
				color: #fff;
				cursor: pointer;
			}
			
		</style>
	</head>
	<body>		
		<div id="codeArea">
			<div class="cls" id="utils">
				<a class="fl btn btn-hover" href="/admin/artical/relate/">返回</a>
				<select class="fl filename-select"></select>
				<button class="fl btn btn-hover" id="update">更新</button>
			</div>
		</div>
		<script type="text/javascript">
		$(function(){
			var file_name = $("select").val();

			$.ajax({
				url: "/restful/artical/relate/",
				data: {
					__method: "GET"
				},
				success: function(data){
					var html = "";
					for(var i=0; i< data.length; i++){
						html += '<option value="' + data[i].name.replace(".md","") + '">'+
									data[i].title+
								'</option>';
					}
					$("select").html(html);
					file_name = $("select").val();
					getArtical();
				}
			})

			
			
			$("select").change(function(){
				file_name = $(this).val();
				getArtical();
			});		


			function getArtical(){
				$.ajax({
					url: "/restful/artical/content/",
					data: {
						__method: "GET",
						name: file_name
					},
					success: function(data){
						codeEle.setValue( data.data );
					}
				})
			}

			$("#update").click(function(){
				var data = {};
				data.artical = [];
				var inp = "";
				$.ajax({
				url: "/restful/artical/content/",
					data: {
						__method: "POST",
						name: file_name,
						data: codeEle.getValue()
					},
					success: function(data){
						alert(data.data);
					}
				})

				$.ajax({
				url: "/admin/homepage/",
					success: function(data){
					}
				})
			});

			var codeEle = CodeMirror(document.getElementById("codeArea"), {
				value: '',
				lineNumbers: true,
				mode: "text/x-markdown",
				theme: "default",
				keyMap: "sublime",
				extraKeys: {
					"Tab": function(cm) {
						var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
						cm.replaceSelection(spaces);
					},
					"F11": function(cm){ // 全屏显示
						var $e = $(cm.getWrapperElement());
						$e.hasClass("f11") ? $e.removeClass("f11") : $e.addClass("f11");
					}
				}
			});
			$(codeEle.getWrapperElement()).height( $("body").height() - $("#utils").height() -3 );

		});
		</script>
	</body>
</html>