<!DOCTYPE html>
<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 
		<title>chreom-tag</title>
		<link rel="stylesheet" type="text/css" href="/common/css/admin.css">
		<script type="text/javascript" src="/common/js/jquery.min.js"></script>
		<script type="text/javascript" src="/common/js/common_v1.js"></script>
	</head>
	<body>
		<section class="section">
			<div class="align-center">
				<div class="vertical-middle">
					<div class="main-box">
						<a class="btn btn-hover" href="/admin/artical/content/">编辑文章</a>
						<div class="artical-relate">
							<table cellpadding=0 cellspacing=0 border=0 >
								<thead>
									<tr>
										<th class="field100"></th>
										<th class="field0">访问地址</th>
										<th class="field1">标题</th>
										<th class="field2">简介</th>
										<th class="field3">分类</th>
										<th class="field4">标签</th>
										<th class="field5">归档</th>
										<th class="field6">更新时间</th>
										<th class="field7">序号</th>
										<th class="field8">作者</th>
										<th class="field101 listen-update">启动</th>
										<th class="field102 listen-del">启动</th>
									</tr>
								</thead>
								<tbody id="tb"></tbody>
							</table>
						</div>
						<a class="btn btn-hover" href="javascript:void(0);" id="btnAdd">新增文章</a>
					</div>
					<div class="main-box" style="display:none;">
						<blockquote class="blockquote">
							<h2>模块搜索</h2>
							<div class="search-type cls" id="JS_search_type">
								<span class="" href="javascript:void(0);">Block</span>
								<span href="javascript:void(0);" class="">Page</span>
								<span href="javascript:void(0);" class="">表单</span>
								<span href="javascript:void(0);" class="active">广告位</span>
							</div>
							<div class="cls">
								<input class="search-input" type="text" placeholder="输入搜索内容">
								<a class="search-btn" href="javascript:void(0);">搜索</a>
							</div>
						</blockquote>
						<blockquote class="blockquote">
							<h2>播种网环境</h2>
							<div class="env cls">
								<span class="env-title">office:</span>
								<span class="env-link">
									<a href="http://bbs.office.bzdev.net/">bbs</a>
									<a href="http://zsys.office.bzdev.net/admin/">zsys</a>
								</span>
							</div>
							<div class="env cls">
								<span class="env-title">online:</span>
								<span class="env-link">
									<a href="http://bbs.online.seedit.cc/">bbs</a>
									<a href="http://zsys.online.seedit.cc/admin/">zsys</a>
								</span>
							</div>
							<div class="env cls">
								<span class="env-title">生产:</span>
								<span class="env-link">
									<a href="http://bbs.bozhong.com/">bbs</a>
									<a href="http://zsys.bozhong.com/admin/">zsys</a>
								</span>
							</div>
						</blockquote>
						<blockquote class="blockquote">
							<h2>前端</h2>
							<div class="env front-end cls">
								<span class="env-title"></span>
								<span class="env-link">
									<a href="https://moekit.timo.today/packages">Moekit</a>
									<a href="http://192.168.80.40:8888/">文档</a>
									<a href="https://work.raosee.com/">工作空间</a>
									<a href="http://code.bzdev.net/">版本库</a>
								</span>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				url: "/restful/artical/relate/",
				data: {
					__method: "GET",
				},
				success: function(data){
					data = initData(data, "name title intro sort tag archive updatetime serical");
					var html = "";
					for(var i=0; i< data.length; i++){
						html += '<tr data-index=' + i + '>'+
									'<td>' + i + '</td>'+
									'<td><input type="text" data-name="' + data[i].name + '" value="' + data[i].name + '"></td>'+
									'<td><input type="text" value="' + data[i].title + '"></td>'+
									'<td><input type="text" value="' + data[i].intro + '"></td>'+
									'<td><input type="text" value="' + data[i].sort + '"></td>'+
									'<td><input type="text" value="' + data[i].tag + '"></td>'+
									'<td><input type="text" value="' + data[i].archive + '"></td>'+
									'<td><input type="text" data-unix="' + data[i].updatetime + '" value="' + new Date(parseInt(data[i].updatetime)).Format("yyyy-MM-dd") + '"></td>'+
									'<td><input type="text" value="' + data[i].serical + '"></td>'+
									'<td><input type="text" value="' + data[i].author + '"></td>'+
									'<td><a class="btn-update" data-index="' + i + '" href="javascript:void(0);">更新</a></td>'+
									'<td><a class="btn-del" data-index="' + i + '" href="javascript:void(0);">删除</a></td>'+
								'</tr>';
					}
					$("#tb").html(html);
					listenUpdate();
					$(".btn-del").click(function(){
						alert("请先启动顶部删除功能，以防点错误删");
					});
				}
			})

			function listenUpdate(){
				$(".btn-update").click(function(){
					var self = this;
					var ele = $(this).closest("tr").find("input");
					$.ajax({
						url: "/restful/artical/relate/",
						data: {
							__method: "PUT",
							index: $(self).attr("data-index"),
							data: new Array(
								{
									name: ele.eq(0).val(),
									title: ele.eq(1).val(),
									intro: ele.eq(2).val(),
									sort: ele.eq(3).val(),
									tag: ele.eq(4).val(),
									archive: ele.eq(5).val(),
									updatetime: new Date(ele.eq(6).val() ).getTime(),
									serical: ele.eq(7).val(),
									author: ele.eq(8).val(),
									isupdatename: ele.eq(0).val() == ele.eq(0).attr("data-name")? "no" : "yes"
								}
							)
						},
						success: function(data){
							console.log(data);
							if( data.data instanceof Array){
								alert("更新成功");
							} else alert(data.data);
						}
					})
				});
			}
			$(".listen-del").one("click",function(){
				listenDel();
			});
			function listenDel(){
				$(".btn-del").unbind("click").on("click",function(){
					var self = this;
					$.ajax({
						url: "/restful/artical/relate/",
						data: {
							__method: "DELETE",
							index: $(self).attr("data-index")
						},
						success: function(data){
							alert(data.data);
							$(self).parent("td").parent("tr").remove();
						}
					})
				});
				$(".listen-del").html("删除").removeClass("listen-del");
			}


			function initData(data, type){
				type = type || "";
				type = type.split(" ");
				type.forEach(function(types){
					for( var j=0; j<data.length; j++ ){
						data[j][types] = data[j][types] || "";
					}
				});
				return data;
			}

			$(".listen-update123").click(function(){
				var a = [];
				var ele ='';
				$("#tb tr").each(function(index){
					ele = $("#tb tr").eq(index).find("input");
					a[index] = {};
					a[index].name = ele.eq(0).val(),
					a[index].title = ele.eq(1).val(),
					a[index].intro = ele.eq(2).val(),
					a[index].sort = ele.eq(3).val(),
					a[index].tag = ele.eq(4).val(),
					a[index].archive = ele.eq(5).val(),
					a[index].updatetime = new Date(ele.eq(6).val() ).getTime(),
					a[index].serical = ele.eq(7).val(),
					a[index].author = ele.eq(8).val(),
					a[index].isupdatename = ele.eq(0).val() == ele.eq(0).attr("data-name")? "no" : "yes"
				});
				console.log( a );
				//return false;
				$.ajax({
					url: "/restful/artical/relate/",
					data: {
						__method: "PUT",
						data: a
					},
					success: function(data){
						alert(data.data);
						//window.location.reload();
					}
				})

			});

			$("#btnAdd").click(function(){
				if( $("#tb tr:last input:first").val() == "" ){
					alert( "当前还存在新增的记录，且其访问地址不能为空" );
					return false;
				}
				var html = '';
				var index = $("#tb tr").length;
				html += '<tr data-index=' + index + '>'+
					'<td>' + index + '</td>'+
					'<td><input type="text" data-name="" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><input type="text" value=""></td>'+
					'<td><a class="btn-update" data-index="' + index + '" href="javascript:void(0);">更新</a></td>'+
					'<td><a class="btn-del" data-index="' + index + '" href="javascript:void(0);">删除</a></td>'+
				'</tr>';
				$("#tb").append( html );
				$(".btn-update").eq(index).click(function(){
					var self = this;
					var ele = $(this).closest("tr").find("input");
					if( ele.eq(0).val() == "" || ele.eq(1).val() == "" ) {
						alert("访问地址和标题不能为空");
						return false;
					}
					$.ajax({
						url: "/restful/artical/relate/",
						data: {
							__method: "POST",
							data: new Array(
								{
									name: ele.eq(0).val(),
									title: ele.eq(1).val(),
									intro: ele.eq(2).val(),
									sort: ele.eq(3).val(),
									tag: ele.eq(4).val(),
									archive: ele.eq(5).val(),
									updatetime: ele.eq(6).val(),
									serical: ele.eq(7).val(),
									author: ele.eq(8).val()
								}
							)
						},
						success: function(data){
							alert(data.data);
							window.location.reload();
						}
					})
				});
				$(".btn-del").eq(index).click(function(){
					$(this).parent("td").parent("tr").remove();
				});
			});
			$(".artical-relate").scroll(function(e){
				if( $(this).scrollTop() > 0 ){
				}
				console.log( $(this).scrollTop() );
			});
		});
		</script>
	
</body></html>
